﻿@model IEnumerable<PPP_Web.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WantInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IceRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IcePhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WantInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IceRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IcePhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) <br />
            @Html.ActionLink("Details", "Details", new { id=item.Id }) <br />
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) <br />
        </td>
    </tr>
}

</table>
