﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>GuestLog</h1>
</div>

<div class="row">
    <!-- ko if:detail() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Gender</td><td data-bind="text: detail().Gender"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add guest</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addGuest">
                    <div class="form-group">
                        <label for="inputGuest" class="col-sm-2 control-label">Guest</label>
                        <div class="col-sm-10">
                            <select data-bind="options:school, optionsText: 'Name', value: newGuest.SchoolId"></select>
                        </div>
                        <div class="col-sm-10">
                            <select data-bind="options:gender, value: newGuest.Gender"></select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    @Html.ActionLink("data", "index", "Stats")
    @using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.AntiForgeryToken()
        <button type="submit">Logout</button>
    }
</div>