﻿@model PPP_Web.Models.Member

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Medlem</h4>
    <hr />
    <table class="table">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WantInfo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WantInfo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PostCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PostCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNr)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNr)
                    </dd>

                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IceName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IceName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IceRole)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IceRole)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IcePhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IcePhone)
                    </dd>
                    @if (ViewBag.ImageData != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Signature)
                        </dt>

                        <dd>
                            @*<img src="@ViewBag.ImageData" />*@
                            <img src="data:image/png;base64,@ViewBag.ImageData" width="175" height="100" />
                        </dd>
                    }
                </dl>
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Members", new { id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", "Members", new { id = Model.Id}, null)
</p>
