﻿@model PPP_Web.ViewModels.DataViewModel

@{
    ViewBag.Title = "Index";
    var dates = PPP_Web.Views.Stats.StatsUtils.getDates(Model);

    var MHighSchool = PPP_Web.Views.Stats.StatsUtils.getGuests(
        dates, true, PPP_Web.Views.Stats.StatsUtils.School.Högstadiet, Model);
    var FHighSchool = PPP_Web.Views.Stats.StatsUtils.getGuests(
        dates, false, PPP_Web.Views.Stats.StatsUtils.School.Högstadiet, Model);
    var MGymnasium = PPP_Web.Views.Stats.StatsUtils.getGuests(
        dates, true, PPP_Web.Views.Stats.StatsUtils.School.Gymnasium, Model);
    var FGymnasium = PPP_Web.Views.Stats.StatsUtils.getGuests(
        dates, false, PPP_Web.Views.Stats.StatsUtils.School.Gymnasium, Model);

    string[] names;
    var memberLogDates = PPP_Web.Views.Stats.StatsUtils.getMemberLogDates(dates, Model, out names);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Index</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Datum:
                </th>
                @foreach (var time in dates)
                {
                    <th>
                        <p style="width: 10px;">@time.Date.ToString("yy MM dd")</p>
                    </th>
                }
            </tr>
        </thead>

        <tr>
            <td>
                Kille Högstadiet
            </td>
            @foreach (var count in MHighSchool)
            {
                <td>
                    @count
                </td>
            }
        </tr>
        <tr>
            <td>
                Tjej Högstadiet
            </td>
            @foreach (var count in FHighSchool)
            {
                <td>
                    @count
                </td>
            }
        </tr>
        <tr>
            <td>
                Kille Gymnasiet
            </td>
            @foreach (var count in MGymnasium)
            {
                <td>
                    @count
                </td>
            }
        </tr>
        <tr>
            <td>
                Tjej Gymnasiet
            </td>
            @foreach (var count in FGymnasium)
            {
                <td>
                    @count
                </td>
            }
        </tr>

        @foreach (var name in names)
        {
            <tr>
                <td>
                    @Html.ActionLink(name, "Details", "Stats", new { fullname = name }, null)
                </td>
                @foreach (var presence in memberLogDates[name])
                {
                    <td>
                        @presence
                    </td>
                }
            </tr>
        }
    </table>

    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

</body>
</html>
